#!/bin/bash

set -euo pipefail

{{/* ==================================== */ -}}
{{- /* Define the reusable brew block */ -}}
{{ define "brewPackages"}}
{{ range . -}}
{{- if contains "args" . -}}
brew {{ . }}
{{- else -}}
brew {{ . | quote }}
{{- end }}
{{ end -}}
{{ end -}}
{{- /* ==================================== */ -}}

echo '🍺  Installing brew packages'
brew bundle --no-lock --file=/dev/stdin <<EOF

{{- /* ==============Core Packages============== */ -}}
{{ template "brewPackages" .packages.brews.core -}}

{{/* ==============Util Packages============== */ -}}
{{ if .installUtils -}}
{{ template "brewPackages" .packages.brews.utils -}}
{{ end -}}

{{/* ==============Extra Packages============== */ -}}
{{ if .installExtras -}}
{{ template "brewPackages" .packages.brews.extras -}}
{{ end -}}
