sourceDir = "~/.dotfiles"

#######################################################
###################### Data ###########################
#######################################################

{{ $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{ $hostName := promptStringOnce . "hostName" "What is the hostName" $computerName -}}

{{- $hostTypeChoices := list "client" "work" "personal" -}}
{{- $hostType := promptChoiceOnce . "hostType" "What type of host are you on" $hostTypeChoices -}}
{{- $langJson := promptBoolOnce . "langJson" "Add JSON packages" true -}}
{{- $langBash := promptBoolOnce . "langBash" "Add bash packages" true -}}
{{- $langLua := promptBoolOnce . "langLua" "Add lua packages" true -}}
{{- $langNode := promptBoolOnce . "langGo" "Add node packages" true -}}
{{- $langPython := promptBoolOnce . "langPython" "Add python packages" false -}}
{{- $langGo := promptBoolOnce . "langGo" "Add go packages" false -}}
{{- $langRust := promptBoolOnce . "langRust" "Add rust packages" false -}}
{{- $langAws := promptBoolOnce . "langAws" "Add AWS packages" false -}}
{{- $langTerraform := promptBoolOnce . "langTerraform" "Add terraform packages" false -}}
{{- $langK8s := promptBoolOnce . "langK8s" "Add k8s packages" false -}}

{{- $personalEmail := "shashank004@gmail.com" -}}
{{- $workEmail := "" -}}
{{- if (or (eq $hostType "work") (eq $hostType "client")) -}}
  {{- $workEmail = promptStringOnce . "workEmail" "Work email" -}}
{{- end -}}

[data]
hostName = {{ $hostName | quote }}
hostType = {{ $hostType | quote }}
personalEmail = {{ $personalEmail | quote }}
workEmail = {{ $workEmail | quote }}
langJson = {{ $langJson }}
langBash = {{ $langBash }}
langLua = {{ $langLua }}
langNode = {{ $langNode }}
langPython = {{ $langPython }}
langGo = {{ $langGo }}
langRust = {{ $langRust }}
langAws = {{ $langAws }}
langTerraform = {{ $langTerraform }}
langK8s = {{ $langK8s }}

#######################################################
################### Other Config ######################
#######################################################

[edit]
command = "nvim"

[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[diff]
command = "delta"
pager = "delta"
scriptContents = false

# [git]
# autoCommit = true
# autoPush = true
