# sourceDir = "~/.dotfiles"
sourceDir = "~/.dotfiles-chezmoi"
# uncomment this for testing
destDir = "~/.cezmoi-test-dest"

#######################################################
###################### Data ###########################
#######################################################

{{ $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{ $hostName := promptStringOnce . "hostName" "What is the hostName" $computerName -}}

{{- $hostTypeChoices := list "client" "work" "personal" -}}
{{- $hostType := promptChoiceOnce . "hostType" "What type of host are you on" $hostTypeChoices -}}
{{- $installUtils := promptBoolOnce . "installUtils" "Install utilities" true -}}
{{- $installExtras := promptBoolOnce . "installExtras" "Install extras" false -}}

[data]
hostName = {{ $hostName | quote }}
hostType = {{ $hostType | quote }}
installUtils = {{ $installUtils }}
installExtras = {{ $installExtras }}

#######################################################
################### Other Config ######################
#######################################################

[edit]
command = "nvim"

[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[diff]
command = "delta"
pager = "delta"

# [git]
# autoCommit = true
# autoPush = true
