[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

{{ if eq .hostType "personal" -}}

[user]
  name = Shashank Tomar
  email = {{ .personalEmail }}

[core]
   sshCommand = "ssh -i ~/.ssh/id_personal"

{{ end -}}

{{- if (or (eq .hostType "work") (eq .hostType "client")) -}}

[includeIf "gitdir:~/work/"]
  [user]
    name = Shashank Tomar
    email = {{ .workEmail }}
  [core]
    sshCommand = "ssh -i ~/.ssh/id_work"

[includeIf "gitdir:~/personal/"]
  [user]
    name = Shashank Tomar
    email = {{ .personalEmail }}
  [core]
  sshCommand = "ssh -i ~/.ssh/id_personal"

{{ end -}}
