[include]
path = ~/.gitconfig.common

{{ if eq .hostType "personal" -}}
path = ~/.gitconfig.personal
{{ end -}}
{{- if (or (eq .hostType "work") (eq .hostType "client")) -}}

[includeIf "gitdir:~/work/"]
path = ~/.gitconfig.work

[includeIf "gitdir:~/personal/"]
path = ~/.gitconfig.personal

[includeIf "gitdir:~/.dotfiles/"]
path = ~/.gitconfig.personal

[includeIf "gitdir:~/.config/nvim/"]
path = ~/.gitconfig.personal

{{ end -}}
