#!/bin/bash

#===============================================
#============== Reusable Functions =============
#===============================================

# Check if a directory exists
check_directory() {
  local DIR=$1
  if [ -d "$DIR" ]; then
    print-status "OK" "$DIR exists."
  else
    print-status "ERROR" "$DIR does not exist."
  fi
}

# Check if a file exists
check_file() {
  local FILE=$1
  if [ -f "$FILE" ]; then
    print-status "OK" "$FILE exists."
  else
    print-status "ERROR" "$FILE does not exist."
  fi
}

# Check if GitHub SSH is working
check_github_ssh() {
  ssh -T git@github.com &>/dev/null
  if [ $? -eq 1 ]; then
    print-status "OK" "GitHub SSH is working."
    return 0
  else
    print-status "ERROR" "GitHub SSH is not working."
  fi
}

#===============================================
#================ Health Checks ================
#===============================================
gum style \
  --foreground 212 --border-foreground 212 --border double \
  --align left --width 40 --margin "1 2" --padding "1 2" \
  'Host: {{.hostName}}' 'Type: {{.hostType}} machine'

echo "❤️ Performing Health Checks"
echo ""

echo "📁 Directory Checks" | gum style --background "249" --foreground "232"
# Check if ~/work directories exists
check_directory "$HOME/work/code"
check_directory "$HOME/work/notes"

# Check if ~/personal directories exist
check_directory "$HOME/personal/code/junkyard"
check_directory "$HOME/personal/code/learning"
check_directory "$HOME/personal/second-brain"
check_directory "$HOME/personal/second-brain-logseq"
check_directory "$HOME/personal/code/projects/personal-infra"
check_directory "$HOME/personal/code/projects/home-assistant-dotfiles"
echo ""

echo "🐱 Git Checks" | gum style --background "249" --foreground "232"
check_file "$HOME/.gitconfig"
check_github_ssh
echo ""
