#!/bin/bash

set -eufo pipefail

{{ if .langNode -}}
mise use -g node@lts
{{- end }}

{{ if .langPython -}}
mise use -g python@latest
{{- end }}

{{ if .langGo -}}
mise use -g go@latest
{{- end }}

{{ if .langRust -}}
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
{{- end }}
